header, nav, main, footer, #subFoot {
    max-width: 64rem;
    margin:auto;
}

nav ul li a {
    padding: .6rem 1rem;
}

main {
    margin: auto;
}

form label.labelInfo input, form label.labelInfo select {
	width: 35%;
}

#bookBtn {
	width: 35%;
}


div.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}